.home-banner  {
  /* width: auto; */
  margin-top: 5px;
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-bottom: 100px;
}

.home-banner img {
width: auto;
height: auto;
}
.home-banner .btn{
    position: absolute;
    top: 85%;
    left: 25%;

    width: 220px;
    height: 40px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: white;
    font-size: 18.5px;
    font-weight: 700;
    background: red;
    cursor: pointer;
}



.home-banner .btn:hover{
    box-shadow: 0 0 5px cyan, 
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
    color: black;
    background: cyan;
}


/* .hero{
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;  
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.hero-left h2{
    color: #090909;
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 0;
    size: small;
}

.hero-left p{
    color: #171717;
    font-size: 100px;
    font-weight: 700;
    margin: 0;
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.hero-hand-icon img{
    width: 105px;

}

.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
} */
