/* .popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}
.popular h1{
    color: #171717;
    font-size: 30px;
    font-weight: 600;
    
}

.popular hr{
    width: 200px;
    height: 3px;
    background: #252525;
   
}


.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
 */

.popular h1{
    color: #171717;
    font-size: 30px;
    font-weight: 600;
    margin-left: 172px;
    font-family: Poppins;
    
}

.popular hr{
    width: 200px;
    height: 3px;
    background: #252525;
    margin-left: 172px;
}


